<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
    <script src="/mixhtml.js" defer></script>
</head>
<body class="w-full h-screen overflow-hidden">

    <div class="w-full h-full grid grid-cols-[10fr_10fr]">

        <div id="map" class="relative w-full h-full bg-neutral-300">
            <img src="/map.png">
            <button class="crime absolute top-8 left-8"
            mix-get="/crimes/1"
            ></button>
        </div>

        <div id="info" class="w-full h-full bg-neutral-500 overflow-y-scroll">

        </div>


    </div>



    <script>
        const mix_replace_url = "/"
    </script>


</body>
</html>