<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
    <script src="/mixhtml.js" defer></script>
</head>
<body>

    <div id="message"></div>

    <button mix-get="/item">
        Test me
    </button>

    <div id="1" mix-delete="/items/1">One</div>
    <div id="2" mix-delete="/items/2">Two</div>
    <div id="3" mix-delete="/items/3"<w>Three</div>


    <form id="frm">
        <input name="user_name" type="text" placeholder="user name">
        <button id="btn_create"
            mix-post="/users"
            mix-data="#frm"
        >
            Create user
        </button>
        <div id="welcome"></div>
    </form>






    <script>
        const mix_replace_url = "/"
    </script>


</body>
</html>